body{
    background-color: black;
    color:white;
}
#borrar{
    cursor: pointer;
}
.contenedor_prpal{
    padding: 5rem;
}
.font1{
    font-family: 'Mynerve', cursive;
}
.font2{
    font-family: 'Reenie Beanie', cursive;
}
.bigfont{
    font-size: 24px;
    text-align: center;
}
.input{
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario{

}
.input:focus{
    background-color: black;
    border: none;
}
.img{
    width: 3rem;
}
.boton{
    border: 1px solid white;
}
.boton:hover{
    color: #ccc;
}
#render-textos{
    font-size: 20px;
    padding: 5rem;
}
.texto-d{
    text-align: right;
}
.input:focus{
    color:white;
}
.fuente28{
    font-size: 28px;
}
.hr{
    width: 2rem;
    margin: 0px auto;
    border: 1px solid white;
    opacity: 1;
}

@media (max-width: 993px) {
    #render-textos{
        padding: 1rem;
        margin-top: 1rem;
    }
    .contenedor_prpal{
        padding: 1rem;
    }
}